button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
  font: inherit;
}

iframe,
img {
  vertical-align: middle;
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(68, 68, 68, 0.3);
}
.container,
.container-outer,
abbr {
  position: relative;
}

a,
abbr {
  text-decoration: none;
}
.entry abbr::after,
.entry table {
  text-align: center;
}
.gallery-caption,
.gallery-icon.landscape,
.post-nav .nav-title,
.social-links a::after,
.wp-caption {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.entry dt,
b,
strong {
  font-weight: 700;
}
.entry blockquote,
address,
cite,
em,
q,
var {
  font-style: italic;
}

a {
  &:active,
  &:hover {
    outline-width: 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}

ol,
ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f8f8f8;
  color: #333;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#main {
  margin-bottom: 40px;
  transition: all 0.4s;
}
.container {
  display: block;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}
.post-meta,
.site-title,
amp-img,
iframe,
img {
  max-width: 100%;
}
.content-inner {
  padding: 5px 0;
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

img {
  height: auto;
  border-style: none;
}

a {
  color: inherit;
  transition: all 0.2s;
}

big {
  font-size: larger;
}

small,
sub,
sup {
  font-size: smaller;
}

hr {
  height: 0;
  overflow: visible;
  border: 1px solid #f0f0f0;
}
.entry {
  blockquote,
  code {
    border-radius: 1px;
  }
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

ins {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.56em;
}

h3 {
  font-size: 1.43em;
}

h4 {
  font-size: 1.34em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.12em;
}

/*
 * -------------------------------------------------------------------------
 *  Entry content
 * -------------------------------------------------------------------------
 */
.entry {
  line-height: 1.6;

  a {
    color: #00619f;
    box-shadow: 0 1px 0 0 currentColor;
    &:hover {
      color: #2e4453;
      box-shadow: 0 2px 0 0 #000;
    }
  }

  dd {
    margin-bottom: 1em;
  }

  hr {
    margin: 1em 0;
  }

  iframe {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
    & > iframe {
      margin-bottom: 0;
    }
  }
  .mejs-container {
    margin-bottom: 1em;
  }

  abbr {
    text-decoration: dotted;
    &::after {
      content: attr(title);
      display: block;
      visibility: hidden;
      position: absolute;
      top: -26px;
      right: -7px;
      z-index: 999;
      padding: 0.1875em 0.75em;
      border-radius: 1px;
      background-color: #f8f8f8;
      color: #666;
      font-size: 0.88em;
      font-weight: 300;
      white-space: nowrap;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    }
    &:hover::after {
      visibility: visible;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  h1 {
    margin: 1.8em 0 1em;
  }

  h2 {
    margin: 1.6em 0 1em;
  }

  h3 {
    margin: 1.5em 0 1em;
  }

  h4 {
    margin: 1.4em 0 0.9em;
  }

  h5 {
    margin: 1.3em 0 0.8em;
  }

  h6 {
    margin: 1.2em 0 0.8em;
  }

  ol {
    margin-bottom: 1em;
    padding-left: 30px;
    position: relative;
  }

  ul {
    margin-bottom: 1em;
    padding-left: 30px;
    position: relative;
    list-style: square;
  }

  ol {
    list-style: decimal;

    li {
      ol,
      ul {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
    }
  }

  ul li {
    ol,
    ul {
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
  }

  blockquote {
    position: relative;
    margin-bottom: 1em;
    padding: 1em 1em 1em 3.2em;
    color: #666;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    &::before {
      content: "\f10d";
      display: block;
      position: absolute;
      top: 15px;
      left: 16px;
      color: #aaa;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.6em;
      line-height: 1;
      font-style: normal;
    }
  }

  address {
    font-style: italic;
  }
}
.gallery-caption {
  font-style: italic;
}
.entry {
  blockquote > :last-child {
    margin-bottom: 0;
  }

  pre {
    position: relative;
    margin: 1.1em 0;
    padding: 1em 1.2em;
    background: #44463b;
    color: #e5e5eb;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0.96em;
    line-height: 1.4;
    font-family: "Source Code Pro", Monaco, Menlo, "Courier New", Consolas,
      monospace;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: currentColor;
    }
    & > code {
      display: block;
      padding: 0;
      background: 0 0;
      color: inherit;
      white-space: inherit;
    }
  }

  code {
    background-color: #f0f0f0;
    padding: 0 0.3em;
    margin: 0 0.05em;
    font-size: 0.96em;
    font-family: "Source Code Pro", Monaco, Menlo, "Courier New", Consolas,
      monospace;
  }

  kbd {
    background-color: #f0f0f0;
    padding: 0 0.3em;
    margin: 0 0.05em;
    font-size: 0.96em;
    font-family: "Source Code Pro", Monaco, Menlo, "Courier New", Consolas,
      monospace;
    border: 1px solid #44463b;
    border-radius: 1px;
  }

  table {
    width: 100%;
    margin-bottom: 1em;
    font-size: 0.95em;
    overflow-x: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);

    tr:nth-of-type(even) {
      background-color: #fbfbfb;
    }

    td {
      border-bottom: 1px solid #ddd;
    }

    th {
      border-bottom: 1px solid #ddd;
      padding: 7px 10px;
      border-top: 1px solid #ddd;
      background: #f6f6f6;
      font-weight: 700;
    }

    td {
      padding: 6px;
      vertical-align: middle;
    }
  }

  address {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 640px) {
  .entry {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.entry-inner::after {
  content: "";
  display: block;
  clear: both;
}

/*
 * -------------------------------------------------------------------------
 *  General styling for single page
 * -------------------------------------------------------------------------
 */
.content-inside {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.content-box {
  padding: 2em 40px;
  border-bottom: 1px solid #eaeaea;
}
.content-box:last-child {
  border-bottom: 0;
}
.content-box-heading {
  position: relative;
  margin: 0.2em 0 0.7em;
  text-transform: capitalize;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  .content-box,
  .sns-buttons.single-bottom {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.title-box {
  position: relative;
  padding: 1.4em;
  background-color: #f8f8f8;
  font-weight: 300;
  font-family: Lato, Arial, sans-serif;
}
.title-box-inner {
  flex-flow: column wrap;
  padding: 40px;
}
.title-box {
  .post-date {
    position: relative;
    color: #777;
    line-height: 1;
  }

  h1 {
    margin: 0;
    font-size: 3rem;
  }

  a:hover {
    color: #00619f;
  }
}

@media screen and (max-width: 640px) {
  .title-box-inner {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.action-bar {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: auto;
  height: 2px;
  background-color: #00619f;
  pointer-events: none;
  transition: all 0.2s;
}
.author-box {
  display: flex;
  .author-links .social-links a > .fa {
    color: #777;
  }
}

/*   Post meta
/* -------------------------------------------------- */
.post-format {
  font-family: "Font Awesome 5 Free";
}
.format-aside .post-format::before {
  content: "\f111";
}
.format-gallery .post-format::before {
  content: "\f1c5";
}
.format-link .post-format::before {
  content: "\f0c1";
}
.format-image .post-format::before {
  content: "\f03e";
}
.format-quote .post-format::before {
  content: "\f10d";
}
.format-status .post-format::before {
  content: "\f005";
}
.format-video .post-format::before {
  content: "\f008";
}
.format-audio .post-format::before {
  content: "\f028";
}
.format-chat .post-format::before {
  content: "\f086";
}
.post-meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #666;
  font-size: 0.8em;
  line-height: 1.6;
  text-transform: uppercase;

  a {
    white-space: nowrap;
    &:hover {
      color: #00619f;
    }
  }
  & > [class^="post-"] {
    display: inline-block;
    padding-right: 10px;
  }
  &.content-box a {
    color: #333;
    box-shadow: 0 1px 0 0 currentColor;
  }
  &.content-box a:hover {
    color: #00619f;
  }
  &.content-box .post-category a {
    margin: 0 0 0.3em;
  }
  &.content-box .post-category a:hover {
    box-shadow: 0 2px 0 0 rgba(216, 87, 25, 0.4);
  }
  &.content-box .post-author a:hover {
    box-shadow: 0 2px 0 0 rgba(0, 97, 159, 0.4);
  }
  &.content-box .post-comment a:hover {
    box-shadow: 0 2px 0 0 rgba(10, 74, 18, 0.4);
  }
}
.entry .post-meta {
  margin-bottom: 3em;
}

/*   Bottom post meta
/* -------------------------------------------------- */
.btm-post-meta {
  margin-top: 3em;
  clear: both;
}

p {
  &.post-btm-cats,
  &.post-btm-tags {
    position: relative;
    margin-bottom: 0.1em;
    font-size: 0.88em;
    line-height: 1.6;
  }
  &.post-btm-cats .fa,
  &.post-btm-tags .fa {
    margin-right: 0.2em;
    width: 16px;
  }
  &.post-btm-cats a,
  &.post-btm-tags a {
    display: inline-block;
    margin: 0 0.4em 0.3em 0;
    color: currentColor;
    white-space: nowrap;
  }
  &.post-btm-cats a:hover,
  &.post-btm-tags a:hover {
    color: #00619f;
  }
}
.meta-label {
  margin-right: 0.4em;
  color: #111;
  font-size: 1.1em;
  font-weight: 300;
}
.post-btm-cats a:hover {
  box-shadow: 0 2px 0 0 rgba(216, 87, 25, 0.4);
}
.post-btm-tags a:hover {
  box-shadow: 0 2px 0 0 rgba(25, 216, 49, 0.4);
}

/*   Author box
/* -------------------------------------------------- */
.author-box {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2em;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  .author-thumbnail {
    flex-shrink: 1;

    img {
      border-radius: 50%;
    }
  }
  .author-content {
    flex: 1;
    padding-left: 1em;
  }
  .author-infomation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0.3em;
  }
}
.author-box {
  .author-name {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.2em;
  }
  .author-description {
    margin-bottom: 0;
    font-size: 0.94em;
    font-weight: 300;
  }
  .author-links {
    margin-left: 0.7em;
    .social-links {
      list-style-type: none;
      margin-bottom: 0;
      font-size: 0.82em;

      a {
        > .fab,
        > .fas {
          color: #777;
        }
        &:hover > .fab,
        &:hover > .fas {
          color: #222;
        }
      }
    }

    a {
      &::after,
      &::before {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .author-box {
    .author-infomation {
      display: block;
    }
    .author-links {
      margin-left: 0;
    }
  }
}

/*  Related posts
/* -------------------------------------------------- */
.header-inner,
.related-posts {
  .related-posts-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 1%;
  }
  .related-article {
    position: relative;
    width: 33%;
    margin-bottom: 16px;
  }
  .post {
    height: auto;
    padding: 0 0.02em;
    background-color: #fff;
    transition: all 0.4s;
  }
  .post-thumbnail {
    overflow: hidden;

    a {
      display: block;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      transition: all 0.4s ease-out;
    }
  }
  .post-content {
    flex-flow: column nowrap;
    padding: 0.5625em 0.75em;
  }
  .post-category {
    margin-bottom: 0.25em;
    font-size: 0.8125em;
    color: #666;

    a {
      color: #00619f;
      &:hover {
        color: #444;
      }
    }
  }
  .post-title {
    font-size: 0.9625em;
    line-height: 1.3;
    font-family: Lato, Arial, sans-serif;
    letter-spacing: 0;
    overflow: hidden;
    transition: all 0.2s;

    a {
      display: block;
      height: 100%;
    }
  }
  .post:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    .post-thumbnail img {
      opacity: 0.8;
    }
    .post-title {
      color: #00619f;
    }
  }
}

@media screen and (max-width: 640px) {
  .related-posts {
    .related-posts-list {
      flex-flow: row wrap;
      margin-left: 0;
      .related-article {
        width: 50%;
      }
    }
    .related a:hover .post-thumbnail img {
      transform: none;
      opacity: 0.9;
    }
  }
}

/*   Post nav
/* -------------------------------------------------- */
.post-nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  ul {
    display: flex;
  }
  .next,
  .prev {
    position: relative;
    overflow: hidden;
    flex: 1;
  }
  .next a,
  .prev a {
    display: block;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: background-color 0.4s;
  }
  .next a {
    padding: 12px 40px 12px 24px;
  }
  .prev a {
    padding: 12px 24px 12px 40px;
  }
  .nav-title {
    position: relative;
    margin-bottom: 0.4em;
    color: #f0f0f0;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-family: Lato, Arial, sans-serif;
  }
  .post-title {
    position: relative;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
  }
  .chevron-left {
    position: absolute;
    top: calc(50% - 10px);
    width: 16px;
    height: 16px;
    background: 0 0;
  }
  .chevron-right {
    position: absolute;
    top: calc(50% - 10px);
    width: 16px;
    height: 16px;
    background: 0 0;
    right: 14px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
    transition: all 0.4s;
  }
  .chevron-left {
    left: 14px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    transition: all 0.4s;
  }
  .next a:hover,
  .prev a:hover {
    background: rgba(0, 0, 0, 0.55);
  }
}
.post-nav {
  .next .nav-title {
    right: -8px;
  }
  .prev .nav-title {
    left: -8px;
  }
  .next a:hover {
    .post-thumbnail {
      filter: blur(2px);
    }
    .chevron-right {
      right: 18px;
    }
  }
  .prev a:hover {
    .post-thumbnail {
      filter: blur(2px);
    }
    .chevron-left {
      left: 18px;
    }
  }
}

@media screen and (max-width: 640px) {
  .post-nav ul {
    display: block;
  }
  .next a,
  .prev a {
    padding: 12px 40px;
  }

  #header {
    background-position: center;
  }
}

/*   Multipages navigator
/* -------------------------------------------------- */
.post-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 10px auto;
  border-bottom: 2px solid #ddd;
  color: #00619f;
  font-weight: 700;

  span {
    display: inline-block;
    position: relative;
    bottom: -2px;
    padding: 6px 10px;
    border-bottom: 2px solid #ddd;
    transition: border 0.4s;
  }
  a:hover > span,
  & > span {
    border-bottom: 2px solid #00619f;
  }
  & > span {
    color: #000;
  }
}

/*   Share buttons
/* -------------------------------------------------- */
.sns-buttons ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.share-list-container {
  display: flex;
}
.balloon-btn {
  flex-grow: 1;
  position: relative;
  .share {
    transition: all 0.4s;
    .share-icon {
      position: relative;
      left: calc(50% - 1.2rem);
      z-index: 999;
      font-size: 2.4rem;
    }
  }
  .share-inner {
    display: flex;
    padding: 0.4em 0.6em;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  .count {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.4s;
  }
  .count-inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 1.2em;
    min-width: 1.1em;
    padding: 0.4em;
    border-radius: 1px;
    background-color: #444;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9em;
    line-height: 1;
    font-family: Lato, Arial, sans-serif;
    font-weight: 700;
    transition: all 0.4s;
  }
  .share-inner:hover {
    opacity: 0.8;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  }
  .count-inner:hover {
    color: #fff;
  }
  &.twitter .share-inner {
    background-color: #6bace2;
  }
  &.facebook .share-inner {
    background-color: #445d93;
  }
  &.hatena .share-inner {
    background-color: #4c7ec6;
  }
  &.line .share-inner {
    background-color: #50c150;
  }
  &.pocket .share-inner {
    background-color: #e15c69;
  }
  &.feedly .share-inner {
    background-color: #94be61;
  }
  &:first-of-type .share-inner {
    border-radius: 2px 0 0 2px;
  }
  &:last-of-type .share-inner {
    border-radius: 0 2px 2px 0;
  }
}

@media screen and (max-width: 767px) {
  .share-list-container {
    justify-content: center;
  }
}
.entry-content::after,
.entry-footer::after,
.entry-header::after {
  content: "";
  display: block;
  clear: both;
}

/*
 * -------------------------------------------------------------------------
 *  Header
 * -------------------------------------------------------------------------
 */
#header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  transition: box-shadow 0.4s, filter 0.4s;
  box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.4);
}
.nav-toggle,
.site-info {
  -webkit-transition: all 0.4s;
}
.search-toggle {
  display: none;
}
.header-inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-right: 0;
  font-size: 0.94em;
  font-weight: 300;
}
.site-info {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  align-items: center;
  padding: 30px 20px;
  transition: all 0.4s;
}
.site-title {
  display: inline-block;
  font-size: 1.875em;
  color: #444;
  font-weight: 600;
  line-height: 1.2;

  a {
    display: block;
  }

  img {
    display: block;
    max-height: 60%;
    height: auto;
    margin: 0 auto;
  }
}
.site-description {
  display: inline-block;
  max-width: 100%;
  padding: 0.4em 1em 0;
  color: #666;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .site-info {
    display: block;
    text-align: center;
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
  .site-description {
    padding: 0 0.75em;
    line-height: 1.6;
  }
}

#header-menu {
  align-self: center;
  width: 100%;
}
#amp-sidebar {
  background-color: #51575d;
  top: 0;
  height: 120vh;
  width: 100%;
  @media screen and (min-width: 641px) {
    max-width: 420px;
  }
}

#header-nav {
  padding-top: 6em;
  overflow-y: auto;
  &.menu-container {
    a {
      color: #fff;
    }
    &:hover {
      color: #00619f;
    }
  }
}
.menu-container {
  display: block;

  li {
    display: block;
  }

  a {
    display: block;
    padding: 0.8em 1em;
    &:hover {
      background: rgba(68, 68, 68, 0.1);
      color: #000;
    }
  }

  li > a {
    border-top: 1px solid rgba(119, 119, 119, 0.7);
  }
  & > li:last-child > a {
    border-bottom: 1px solid rgba(119, 119, 119, 0.7);
  }
  .sub-menu {
    display: block;
    margin-left: 2em;
  }
  & > li > a {
    font-weight: 700;
  }

  li.menu-item-has-children > a::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: 2px;
    border: 4px solid transparent;
    border-top-color: currentColor;
  }
}
.nav-toggle {
  align-self: stretch;
  position: relative;
  right: 0;
  z-index: 1000;
  width: 50px;
  height: auto;
  border: 0 transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  .top,
  .bottom,
  .middle {
    position: absolute;
    top: 50%;
    left: 19%;
    z-index: 1001;
    width: 62%;
    height: 1px;
    background: currentColor;
    transition: all 0.4s;
  }
  .top {
    transform: translateY(-10px);
  }
  .middle {
    transform: rotate(0);
  }
  .bottom {
    transform: translateY(10px);
  }
  &.open {
    .top {
      height: 1px;
      transform: rotate(-45deg) translateY(0);
      background-color: #f8f8f8;
    }
    .middle {
      height: 1px;
      opacity: 0;
      visibility: hidden;
    }
    .bottom {
      height: 1px;
      transform: rotate(45deg) translateY(0);
      background-color: #f8f8f8;
    }
  }
}

/*
 * -------------------------------------------------------------------------
 *  Footer
 * -------------------------------------------------------------------------
 */
.footer {
  position: relative;
  min-height: 80px;
  padding: 30px 20px;
  background: #44463b;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s;
  .container {
    align-items: center;
    height: 100%;
  }

  a {
    color: rgba(255, 255, 255, 0.9);
    &:hover {
      color: #fff;
    }
  }
  .copyright {
    flex-shrink: 1;
    font-weight: 300;
    line-height: 1.6;
  }
  .social-links {
    flex-grow: 1;
    padding: 0 0.7em;
    justify-content: flex-end;
  }
}
.footer {
  .container {
    display: flex;
    flex-flow: column wrap;
  }
  .social-links {
    padding-top: 0.9em;
    justify-content: space-around;
  }
  .copyright {
    text-align: center;
  }
}

/*
 * -------------------------------------------------------------------------
 *  WP native
 * -------------------------------------------------------------------------
 */
.wp-caption {
  max-width: 100%;
  margin-bottom: 1em;
  padding: 5px 5px 0;
  .wp-caption-text {
    margin: 0;
    padding: 0.4em 4px 0.6em;
    font-size: 0.97em;
    line-height: 1.4;
    font-style: italic;
  }
}
.aligncenter {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.alignright {
  float: right;
  max-width: 100%;
  margin-left: 1em;
}
.alignleft {
  float: left;
  max-width: 100%;
  margin-right: 1em;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html body .screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

// This is invalid for SCSS, though it is proper way for postcss-for.
@for $i from 1 to 5 {
  .gallery-columns-$i {
    display: flex;
    flex-flow: row wrap;
    .gallery-item {
      width: calc(100% / $i);
      margin-bottom: 1em;
      padding: 0 0.1rem;
    }
  }
}
.wp-caption img {
  margin: 0 auto;
  padding: 0;
  border: 0;
}
.gallery-caption {
  max-width: 100%;
  padding: 5px 5px 0;
  font-size: 0.94em;
  line-height: 1.4;
}

/*
 * -------------------------------------------------------------------------
 *  Social links
 * -------------------------------------------------------------------------
 */
.social-links {
  display: flex;
  flex-flow: row wrap;
  box-shadow: none;
  align-items: center;

  li {
    position: relative;
  }
  .fab,
  .fas {
    font-size: 1.55em;
  }
  & > li:not(:first-child) {
    margin-left: 0.5em;
  }

  a {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
    &::after {
      content: attr(title);
      display: block;
      visibility: hidden;
      position: absolute;
      top: -35px;
      right: -5px;
      z-index: 999;
      padding: 0.1875em 0.75em;
      border-radius: 1px;
      background-color: #f8f8f8;
      color: #666;
      font-size: 0.88em;
      font-weight: 300;
      white-space: nowrap;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    }
  }

  a {
    &::before {
      content: "";
      visibility: hidden;
      position: absolute;
      top: -10px;
      right: calc(50% - 0.55em);
      z-index: 998;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top-color: #f8f8f8;
      border-bottom-width: 0;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    }
    &:hover {
      &::after,
      &::before {
        visibility: visible;
      }
    }
  }
}

ul.social-links {
  padding-left: 0;
  list-style: none;
}

@media screen and (max-width: 640px) {
  .social-links i {
    font-size: 2em;
  }
}

/*
 * -------------------------------------------------------------------------
 *  General classes
 * -------------------------------------------------------------------------
 */
.select-none {
  user-select: none;
}
.clearfix::after {
  display: block;
  clear: both;
}
.fs15 {
  font-size: 0.9375em;
}
.fs17 {
  font-size: 1.0625em;
}
.fs20 {
  font-size: 1.25em;
}
.ad-label {
  margin-bottom: 0.2em;
  color: #555;
  text-align: center;
  font-size: 0.92em;
}
.sans-serif {
  font-family: Helvetica, Arial, sans-serif;
}
.serif {
  font-family: Georgia, serif;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.monospace {
  font-family: "Source Code Pro", Monaco, monospace;
}
.info-box {
  display: block;
  margin: 1.6em 0;
  padding: 1.2em 1.4em;
  border: 2px solid #39c;
  border-radius: 3px;
  background-color: rgba(51, 153, 204, 0.1);
}
.attention-box {
  padding: 1.4em;
  border: 2px solid #ff5000;
  border-radius: 3px;
  background: #ffd580;
}
.link-box {
  display: block;
  padding: 4px 6px;
  background-color: #f0f0f0;
  & > a {
    display: block;
  }
}

/*
 * -------------------------------------------------------------------------
 *  CJK Things
 * -------------------------------------------------------------------------
 */
:lang(ja),
:lang(ko),
:lang(zh) {
  .breadcrumb {
    margin-bottom: 0.2em;
  }
  .entry,
  .comment-body {
    line-height: 1.8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
  }
  .related-posts .post-title {
    line-height: inherit;
  }
}
:lang(ja) {
  h1 {
    font-family: Lato, "Noto Sans CJK JP Light", "Yu Gothic Light",
      "Hiragino Sans", Arial, sans-serif;
  }
}

/*
 * -------------------------------------------------------------------------
 *  Table of Content plus plugin
 * -------------------------------------------------------------------------
 */
#toc_container {
  display: block;
  background: 0 0;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  margin: 1.4em auto;
  padding: 20px 0;
  border: 1px solid #44463b;
  font-size: 0.95em;
  line-height: 1.4;

  a {
    text-decoration: none;
    box-shadow: none;
    &:hover {
      text-decoration: none;
      box-shadow: none;
    }
  }

  p.toc_title {
    margin: 0;
    text-align: center;
    font-weight: 700;
  }

  a span {
    font-weight: 300;
    font-family: Lato, Arial, sans-serif;
    &::after {
      content: ".";
      padding-left: 0.1em;
    }
  }

  ul {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
  }
  .toc_list {
    a {
      display: block;
      padding: 8px 10px;
      border-bottom: 1px solid #44463b;
      transition: all 0.4s, border 0.4s 0.4s;
    }

    ul ul a {
      border-bottom-style: dotted;
    }
  }
}

@media screen and (max-width: 640px) {
  #toc_container {
    width: 95%;
    min-width: 95%;
    max-width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.95em;
  }
}
